{% extends "base.html" %}

{% block content %}
<div id = "headline2"><h2>Информация о сайте</h2></div>
<p>На этом сайте вы можете создавать онлайн турниры по математическому домино и участвовать в них.</p>
<p>Пользователи со статусом учителя могут создавать турниры, просматривать и добавлять задачи.</p>
<p>Пользователи со статусом ученика могут участвовать в турнирах.</p>
<p>При регистрации всем пользователям по умолчанию присваивается статус ученика. Для получения статуса учителя
    необходимо связаться с администрацией сайта.</p>
<div id = "headline2"><h2>Правила математического домино</h2></div>
<p>В игре 28 задач, их номера соответствуют номерам костяшек домино. На руках у игрока одновременно может находиться
только одна задача, которую он может решать и сдавать, условий остальных задач он не видит.</p>
<p>Первая задача выдается игрокам автоматически, далее после каждой сдачи ответа необходимо взять
    из банка новую задачу. В банке доступны для выбора только задачи, которые в данный момент не находятся на руках у
игроков.</p>
<p>По каждой задаче, кроме задачи 0-0, есть две попытки. Если задача правильно сдана с первой попытки, игрок получает за
    нее количество баллов, равное сумме чисел на доминошке. Если задача не верно сдана с первой попытки, игрок получает по
    ней желтую карточку и может взять задачу повторно. При правильном ответе со второй попытки игрок получает количество
    баллов, равное большему из чисел на доминошке. Если же игрок повторно сдает задачу неправильно, он получает красную
    корточку и у него отнимается число баллов, равное меньшему числу на доминошке.</p>
<p>По задаче 0-0 есть только одна попытке. При правильном ответе игрок получает 10 баллов, про неправильном 0 по задаче
    и красную карточкую.</p>
{% endblock %}