{% extends "base.html" %}

{% block content %}
<div id = "headline2"><h2>Правила</h2></div>
    <br> На этом сайте вы можете решать задачи и сдавать по ним ответы. Задачи разделены по классам и сложности.
Чтобы сдать каждую задачу у вас есть две попытки. Если вы верно сдали задачу (с любой попытки), то к вашему рейтингу
прибавляется количество баллов, равное ее сложности, но если вы неправильно со второй попытки, то из вашего рейтинга
вычитается 2 балла (если сдали неверно с первой попытки, то ничего не прибавляется и не отнимается)
{% endblock %}